body{
    margin: 0;
    padding: 0;
}
header{
    background-color: green;
    grid-area: header;

}
.content {
    background-color: brown;
    grid-area: content;
}
.aside{
    background-color: orange;
    grid-area: aside;
}
.footer{
    background-color: blue;
    grid-area: footer;
}
.container {
    height: 100vh;
    font-size: 3rem;
    color: white;
    text-align: center;
    font-weight: bold;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: "header header" "content aside" "footer footer";


}
@media screen and (max-width: 800px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr 1fr 1fr;
        grid-template-areas: "header" "content" "aside" "footer";
    }
    
}