body{
    margin:0;
    padding: 0;
}
.container{
    display: grid;
    color: white;
    height:100vh;
    font-size: 3rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr 1fr ;
    text-align: center;
    font-weight: bold;
    grid-template-areas: "header" "content" "aside" "footer";
}   
header{
    background-color: green;
    grid-area: header;
}
.content
{
    background-color: brown;
    grid-area: content;
}
.aside{
    background-color: orange;
    grid-area: aside;
}
.footer{
    background-color:blue ;
    grid-area: footer;
}
@media screen and (min-width: 801px){
    .container{
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "header header" "content aside" "footer footer";
        grid-template-rows: 1fr 4fr 1fr ;
    }
    
}