body{
    margin: 0;
    padding: 0;
}
.container{
height: 100vh;
text-align: center;
font-size: 3rem;
color:white;
font-weight: bold;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr 4fr 1fr;
grid-template-areas: "header" "nav" "section" "footer";

}
section {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "article article" "aside-1 aside-1" "aside-2 aside-2" "aside-3 aside-3";
}
header {
background-color: blue;
grid-area: header;
}
nav {
background-color: orange;
grid-area: nav;
margin:5px 0px 5px 0px;
}
section {
background-color: gray;
grid-area: section;
display: grid;
grid-template-columns: 1fr;
grid-template-rows:5fr 1fr 1fr 1fr ;
grid-gap:10px;
padding: 20px;
}
footer {
    background-color: brown;
    grid-area: footer;
    margin-top: 5px;

}
article {
    background-color: blue;
    grid-area: article;

}
#aside-1 {
    background-color: greenyellow;
    grid-area: aside-1;
}
#aside-2 {
    background-color: greenyellow;
    grid-area: aside-2;
}
#aside-3 {
    background-color: greenyellow;
    grid-area: aside-3;

}/* version tablette*/
@media screen and (min-width: 601px) and (max-width: 900px){
    .container{
    grid-template-columns: 1fr 3fr;
grid-template-rows: 1fr 4fr 1fr ;
grid-template-areas: "header header" "nav section" "footer footer";


    }
    nav{
        margin: 20px;
    }
    
}
/* version bureau */
@media screen and (min-width: 901px){
    .container{
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: "header header" "nav section" "footer footer";
}
    
    section {
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "article aside-1" "article aside-2" "article aside-3";
    }
    nav{
        margin: 20px;
    }
}
    




